html,
body {
    position: relative;
    height: 100%;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    background-color: whitesmoke;
}

body.hidden {
    overflow: hidden;
}

header {
    background-color: whitesmoke;
    position: fixed;
    top: 0px;
    height: 55px;
    width: 100vw;
    z-index: 100;
    border-bottom: 1px solid #ccc;
}

main {
    position: relative;
    margin-left: 0px;
    padding-left: 0px;
    top: 55px
}

.pages-content {
    max-width: 1920px;
    padding: 35px;
    margin: 0 auto;
    margin-bottom: 10vh;
}

footer {
    position: relative;
    width: 100vw;
    height: auto;
    bottom: 0px;
    padding-bottom: 10px;
    min-height: 46px;
    border-top: 1px solid #ccc;
    background-color: #333;
}

.footer-top {
    width: 100vw;
    color: whitesmoke;
}

.footer-bottom {
    color: whitesmoke;
    top: 100%;
    position: relative;
    border-top: 2px solid #ccc;
    width: 100vw;
}

@media (max-width: 900px) {
    header {
        background-color: whitesmoke;
        position: fixed;
        top: 0px;
        height: auto;
        width: 100vw;
        z-index: 100;
        border-bottom: 1px solid #ccc;
    }
}